*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body{
    font-family:Verdana;
    background-color: #0b0617;
    color: #f6f6f6;
    min-height: 100vh;
    line-height: 1.5;
}

/*gradient*/

.image-gradient{
    position:absolute;
    top: 0;
    right: 0;
    opacity: 1.5;
    z-index: -1;
}

.layer-blur{
    height: 0;
    width: 50rem;
    position: absolute;
    top: 45%;
    right: 10%;
    box-shadow: 0 0 900px 15px #ffffff;
    rotate: -30deg;
    z-index: -1;
}

/*nav bar*/

.container{
    display: flexbox;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

/*header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

header h1{
    display: flex;
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

/*navigation bar*/
@media(max-width:56em){

}

/*back button*/
.navback{
    display: flex;
    padding: 1rem;
    justify-content: flex-end;
}
button{
    border-radius: 12px;
}

nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
}

nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration:none;
    color: inherit;
}

nav a:hover{
    color:#3f2e67
}



.picandbento{
    display: flex;
    align-items: center; /* vertical alignment */
    justify-content: center;
    gap: 3rem;
}

.profilepic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilepic img{
    width: 512px;
    height: 512px;
    border-radius: 50%;
    object-fit: cover;
}

/*bento*/

/*replace the box methods with this when image is available:
    background-image: 
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
    url("images/bg1.jpg");

*/

.box {
    display: flex;            
    align-items: center;
    justify-content: center;
            
    text-decoration: none;
    color: white;
    background-color: #3f8678;

    transition: 0.3s ease;
}

/* hover effect */
.box:hover {
    background-color: #192825;
    transform: scale(1.03);
}

.box-1{
    background-color: #3f8678;
    display: grid;
    place-content: center;
    transition: background-color 0.3s ease;
}

.box-2{
    background-color: #3f8678;
    display: grid;
    place-content: center;
    transition: background-color 0.3s ease;
}

.box-3{
    background-color: #3f8678;
    display: grid;
    place-content: center;
    transition: background-color 0.3s ease;
}
.box-4{
    background-color: #3f8678;
    display: grid;
    place-content: center;
    transition: background-color 0.3s ease;
}
.box-5{
    background-color: #3f8678;
    display: grid;
    place-content: center;
}
.box-1:hover {
    background-color: #142a25;
}
.box-2:hover {
    background-color: #142a25;
}
.box-3:hover {
    background-color: #142a25;
}
.box-4:hover {
    background-color: #142a25;
}


.grid-container{
    justify-content: end;
    padding-right: 4%;
    display: grid;
    grid-auto-columns: 200px;
    grid-auto-rows: 200px;
    gap: 1em;
    grid-template-areas: 
    "box-1 box-1 box-5 box-2"
    "box-4 box-3 box-3 box-2";
}

@media(max-width: 56em){
    .grid-container{
        grid-template-columns: repeat(3, 200px);
        grid-template-areas: 
        "box-1 box-1 box-2"
        "box-3 box-5 box-2"
        "box-3 box-4 box-4";
    }
} 

@media(max-width: 42em){
    .grid-container{
        grid-template-columns: repeat(2, 200px);
        grid-template-areas: 
        "box-1 box-2"
        "box-1 box-3"
        "box-5 box-3"
        "box-4 box-4";
    }
} 

.bg{
    width: 3fr;
    justify-content: center;
    margin: auto;

    background-color: #2c65b4;
    width: 70%;
    border-radius: 40px;
}

.techgrid{
    justify-content: center;
    display: grid;
    grid-auto-columns: 200px;
    grid-auto-rows: 200px;
    gap: 10em;
    grid-template-areas: 
    "box-6 box-7"
    "box-8 box-9"
}