*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family:Verdana;
    background-color: #0b0617;
    color: #f6f6f6;
    min-height: 100vh;
    line-height: 1.5;
}

/*gradient*/

.image-gradient{
    position:absolute;
    top: 0;
    right: 0;
    opacity: 1.5;
    z-index: -1;
}

.layer-blur{
    height: 0;
    width: 50rem;
    position: absolute;
    top: 45%;
    right: 10%;
    box-shadow: 0 0 900px 15px #f0efce;
    rotate: -30deg;
    z-index: -1;
}

/*nav bar*/

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

/*header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
}

nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration:none;
    color: inherit;
}

nav a:hover{
    color:#3f2e67
}